//header
@use "../../foundation/mixin" as *;





.p-header-wrapper {
    background-color: #fff7ef;
    overflow: hidden;
    @include mobile {
        height: 215px;
    }
    height: 217px;
    @include pc {
        display: flex;
        width: 100%;
        height: 217px;
    }
}



.p-button-menu {
    cursor: pointer;
    color: #707070;
    font-size: 20px;
    display: block;
    margin: 8px 8px 0 auto;
    font-family: Roboto;
    font-weight: 700;
    @include tablet {
        font-size: 34px;
        margin: 20px 25px 0 auto;
    }
    @include pc{
        display: none;
    }
}   

.p-title-header-main {
    font-family: 'Roboto', sans-serif;;
    font-size: 40px;
    color: #707070;
    text-align: center;
    @include tablet {
    }
    @include pc {
        font-size: 6rem;
        margin: auto auto auto 5vw;
        
    }
}

.p-header-search {
    display: flex;
    justify-content: center;
    margin:40px 7vw 39px;
    gap: 4vw;
    position: relative;
    
    @include tablet {
        gap: 14px;
    }
    @include pc {
        margin: auto 2vw auto auto ;
    }
}
.p-input__header-search {
    max-width: 400px;
}
.p-btn__header-search {
    max-width: 136px;
}



.p-input__header-search {
    
    width: 55vw;
    height: 46px;
    padding: 3px 0 3px 2.5em; /* アイコンを設置するため左の余白*/
    background-image: url(img/glass.jpg);
    background-repeat: no-repeat;
    background-position: 10px 50%;
    }
    



.p-btn__header-search {
    height: 46px;
    
    width: 20vw;
    background: linear-gradient(to left, #F2EDE9,#DED8D3 );
}


// WP-------------------------------------------------
// .search-form 
    .p-search-form {
    display: flex;
    justify-content: center;
    margin:40px 7vw 39px;
    gap: 4vw;
    position: relative;
    
    @include tablet {
        gap: 14px;
    }
    @include pc {
        margin: auto 2vw auto auto ;
    }
}
// .search-field
    .p-search-form__keyword {
    max-width: 400px;
    width: 55vw;
    height: 46px;
    padding: 3px 0 3px 2.5em; /* アイコンを設置するため左の余白*/
    background-image: url(img/glass.jpg);
    background-repeat: no-repeat;
    background-position: 10px 50%;
    
    background-color: #fff;
    border:1px solid #707070;
    font-size: 1.6rem;
    border-radius: 10px;
    &::before {
        content: '';
        background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%20%3Cpath%20d%3D%22M23.7%2020.8%2019%2016.1c-.2-.2-.5-.3-.8-.3h-.8c1.3-1.7%202-3.7%202-6C19.5%204.4%2015.1%200%209.7%200S0%204.4%200%209.7s4.4%209.7%209.7%209.7c2.3%200%204.3-.8%206-2v.8c0%20.3.1.6.3.8l4.7%204.7c.4.4%201.2.4%201.6%200l1.3-1.3c.5-.5.5-1.2.1-1.6zm-14-5.1c-3.3%200-6-2.7-6-6s2.7-6%206-6%206%202.7%206%206-2.6%206-6%206z%22%20fill%3D%22%239aa0a6%22%3E%3C%2Fpath%3E%20%3C%2Fsvg%3E');
        background-position: center;
        background-repeat: no-repeat;
        width: 1.6rem;
        height: 1.6rem;
    }
}





// .search-submit 
input.p-search-form__submit {
    height: 46px;
    max-width: 136px;
    
    width: 20vw;
    background: linear-gradient(to left, #F2EDE9,#DED8D3 );
    cursor: pointer;
    background-color: #d5d5d5;
    border:1px solid #707070;
    border-radius: 10px;
    font-size: 1.6rem;
    font-weight: 700;
    color: #707070;
}

