
//main
@use "../../foundation/mixin" as *;



// body.open-menu {
//     overflow: hidden;
// }
// body {
//     overflow-x: hidden;
// }


.p-title__main {
    color: #fff;
    font-weight: bold;
}

.p-img-top {
    background-image: url(img/mainvisual-pc@2x.jpg);
    background-size: cover;
    background-position: center bottom;
    height: 285px;
    overflow: hidden;
    @include pc {
        width: 100%;
        height: 530px;
    }
}


.p-title__top {
    color: #ffff;
    font-size: 3.6rem;
    margin: 122px 0 110px 25px;
    position: absolute;
    font-weight: 700;
    @include tablet {
        margin-left: 86px;

    }
    @include pc {
        margin: 234px 0 237px 86px;
        font-size: 4rem;
    }
}

.p-title__main {
    color: #fff;
    font-size: 4.1rem;
    margin-top: 13px;
    margin-left: 15px;
    
    font-family: Roboto;
    margin-bottom: 210px;
    @include tablet {
        margin-bottom: min(275px);
    }
    @include pc {
        font-size: 7rem;
        margin-bottom: auto;
        margin-bottom: min(700px);
        
    }
}

.p-heading__main {
color: #3C2A10;
    font-size: 2.4rem;
    margin: 0 0 0;
    }

.p-text {
    font-size: 1.6rem;
    margin-top: 8px;
    color: #3C2A10;
    }
    


.p-card {
    display: flex;
    flex-direction: column;
    // justify-content: flex-end;
    justify-content: space-between;
    @include tablet {
        width: 50vw;
    }
    @include pc {
    width: 40vw;
    }
}

// .wrapper-card-upper {
//     align-content: flex-start;
// }

// .wrapper-card-bottom {
//     align-content: flex-end;
// }







.p-card__takeout {
    background-image:url(img/takeout3@2x.jpg);
    
}

.p-card__eatin {
    background-image:url(img/eatin-phone22@2x.jpg);
}





.p-container-main-description {
    background: rgba(255,255,255,0.8);
    margin: 0 15px 16px;
    padding: 16px;
    // &:first-of-type{
    //     margin: min(700px) 15px 16px;
    // }
}

.p-heading__main {
    font-weight: bold;
}
.p-line__under-title {
    position: relative;
    display: inline-block;
    &::after {
        content: "";
        position: absolute;
        bottom: -10px;
        left: 22px;
        width: 40px;
        height: 3px;
        background-color: #fff;
        transform: translateX(-50%);
    }
    
}
.p-card-main {
    @include tablet {
        display: flex;
        padding: 40px 40px;
        gap: 41px;

    }
    @include pc {
        width: 76vw;
        padding: 6vw 6vw;
        flex-wrap: 3vw;
        gap: 80px;

    }
}







.p-map {
    background-image: url(img/map-phone@2x.jpg);
    background-size: cover;
    margin: 0;
    position: relative;
    @include pc {
        width: 100%;
    }
}
.p-gray-scale {
    background-size: cover;
    background-color: rgba($color: #000000, $alpha: 30%);
    min-height: 649px;
    height: 100%;
    @include tablet {
        min-height: auto;
    }

}


.p-overlay__map {
    display: inline-block;
    background: rgba(0, 0, 0,50%);
    
    height: 415px; 
    @include tablet {
        height: 100%;
    }
    @include pc {
        width: 50vw;
        height: 100%;
    }
}
.c-title__map {
    color: #fff;
    font-size: 3rem;
    margin-top: 42px ;
    margin-left: 42px;
    @include pc {
        margin-top: 86px;
        margin-left: 110px;
    }
}


.p-line__map {
    position: relative;
    display: inline-block;
    &::after {
        content: "";
        position: absolute;
        bottom: -18px;
        left: 40px;
        width: 75px;
        height: 3px;
        background-color: #fff;
        transform: translateX(-50%);
        @include pc {
            bottom: -35px;
        
        }
    }
}




.c-text__map {
    color: #fff;
    font-size: 1.4rem;
    margin: 29px 40px 57px;
    margin-top: 29px;
    line-height: 33px;
    @include pc {
        margin: 75px 110px 75px;
    }
    

}







// archive---------------------------------------------------
.p-img-archive-top {
    background-image: url(img/page-title_arcive.jpg);
    background-size: cover;
    height: 285px;
    overflow: hidden;
    position: relative;
    
    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5); /*半透明のフィルターをかける*/
    }
    @include pc {
        width: 100%;
    }
}

.p-inner-article__archive {
    box-sizing: border-box;
    margin: 0px 20px 18px;
    @include tablet {
        margin: 0px 48px 37px;
    }
    @include pc {
        margin: 40px 100px 40px 100px;
    }
}
.c-title__archive-article {
    font-size: 2.8rem;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #3c2a10;

}
.p-text__archive-article {
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #3c2a10;
    
    @include pc {
        margin: 0 0 70px 0;
    }

}


.p-title-archive__under-title {
    color: #fff;
    font-size: 1.6rem;
    margin: 175px 0 110px 25px;
    position: absolute;
    z-index: 2;
    @include tablet {
        margin: 148px 0 110px 290px;
    }
    
}
// .p-title-archive-search__under-title 
.p-title-archive__under-title {
    @include tablet {
        margin: 148px 0 110px 350px;
    }
}


.p-title__archive-top {
    color: #fff;
    font-size: 3.6rem;
    margin: 122px 0 110px 25px;
    position: absolute;
    @include tablet {
        margin: 106px 0 auto 86px;
        font-size: 6rem;
    }
}

.p-img-archive-top {
    @include tablet {
        display: flex;
    }
}

.p-media {
    
    margin: 20px 20px 0 20px;
    @include tablet{
        display: flex;
    margin: 0 35px 20px;
    }
    @include pc {
        display: flex;
        margin: 0 100px 20px;
    }
    img {
        overflow: hidden;
        object-fit: cover;
        object-position: 10% 60%;
    }
}

.p-inner-media-archive img {
    @include mobile {
        box-sizing: border-box;
        width: 100%;    
    }
    
}




//archiveのカードの画像ーーーーーーーーーーー
// .p-img-archive-media 
.wrapper-archive-content .wp-post-image {
    height: 230px;
    // margin: 0 20px 0;
    
    @include tablet{
        width: 50%;
        margin: 0;
        height: auto;
        }
}
.p-inner-media-archive {
    @include pc {
        
        width: 100%;
        @include mobile {
            margin: 0 20px 0;
        }
        
    }
}
//検索結果がない時 
.p-inner-media-archive-search .wrapper-archive-content p:first-child{
    padding-left: 100px;
    font-size: 30px;
}



.p-container-media-archive {
    background-color: #3c2b1c;
    // margin: 0  20px;
    padding: 32px 16.11px 10px;
    
    @include tablet{
        width: 50%;
        margin: 0;
        padding: 32px 59px 10px 35px;
        }
    @include pc {
        padding: 56px 70px 0px 63px;
    }
    
}

.p-title-archive-media {
    color: #fff;
    font-size: 2rem;
    margin-bottom: 21px;
    @include tablet {
        font-size: 3rem;
        margin-bottom: 36px;
    }
    @include pc {
        font-size: 3rem;
        margin-bottom: 40px;
    }
}
.p-subtitle-archive-media {
    color: #fff;
    font-size: 1.6rem;
    font-weight: bold;
    padding-bottom: 7px;
    @include pc {
        font-size: 2.4rem;
        padding-bottom: 13px;
    }
}

.wp-block-heading {
    // color: #fff;
    color: #3C2A10;
    font-size: 1.6rem;
    font-weight: bold;
    padding-bottom: 7px;
    margin: 61px auto 61px 5vw;
    @include pc {
        font-size: 2.4rem;
        padding-bottom: 13px;
    }
}


.p-container-media-archive > p {
    color: #fff;
    font-size: 1.6rem;
    line-height: 24px;
}

.p-btn-archive-media-detail {
    background-color: #fff;
    font-size: 1.6rem;
    border-radius: 50px;
    padding: 10px 10px;
    display: block;
    margin: 43px auto 40px auto;
    width: 50%;
    text-align: center;
    @include tablet {
        padding: 11px auto ;
        margin: 45px auto 40px auto;
    }
    @include pc {
        width: 15vw;
        text-align: center;
        padding: 20px 0 ;
        margin: 60px auto 60px auto;

    }
}

// ページネーションーーーーーーーーーーーーーーー


.wp-pagenavi {
	clear: both;
	text-align:center;
    font-family: Roboto;
    font-weight: bold;
    .previouspostslink,
    .nextpostslink{
        color: #707070;
        font-size: 3rem;
        font-weight: normal;
        font-family: 'Nanum Myeongjo', serif;
        margin-right: 20px;
        margin-left: 20px;
        margin-bottom: 5px;

    }
}
previouspostslink

.wp-pagenavi a,
.wp-pagenavi span {
    color: #707070;
    padding: 8px 15px;
	margin: 0 2px;
}

.wp-pagenavi a.page,
.wp-pagenavi .current {
	color: #707070;
	background-color: #FFF;
	border: solid 1px #e0e0d2;
	padding: 8px 15px;
	margin: 0 10px;
	white-space: nowrap;
	-webkit-transition: 0.2s ease-in-out;
	-moz-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
	text-align: center;
	text-decoration:none;
}
.wp-pagenavi a:hover{
    color:#FFF; 
    background-color:#999; 
    border-color:#999;
    }
.wp-pagenavi span.current{
	color: #FFF;
	background-color: #3C2B1C;
	border-color: #707070;
	font-weight: bold;
    }




// -----------------------------




.p-inner-archive-pagenation {
    
        display: none;
    
}

.p-inner-archive-pagenation {
    @include tablet {
    display: flex;
    overflow-x: auto;
    margin: 135px auto 65px;
    }
}
.p-pager__inner {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    :last-child {
        margin-right: 0;
    }
}
.p-pager__item {
    margin-right: 15px;
    
}
.p-pager__double-left {
    font-size: 2.5rem;
    color: #707070;
    font-family: 'Nanum Myeongjo', serif;
    line-height: 1.6;

}
.p-pager__double-right {
    font-size: 2.5rem;
    color: #707070;
    font-family: 'Nanum Myeongjo', serif;
    line-height: 1.6;
}



.p-pager__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid currentColor;
    color: #707070;
    transition: 25s;
    font-size: 16px ;
}
.p-page {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-family: Roboto serif;
}

.p-pager__link-active {
    background-color: #3C2B1C;
    color: #fff;
}

// モバイル  ページネーション  ーーーーーーーー

.p-inner-archive-mobile-pagenation {
    position: relative;
    height: 100px;
    overflow: hidden;
    font-size: 1.6rem;
    color: #707070;
    margin-top: 50px;
    margin-bottom: 20px;
    @include tablet {
        display: none;
    }
}

.p-btn-archive__back {
    position: absolute;   
    top: 50px;
    padding-left: 30px;
    // background: url(img/arrow.jpg)no-repeat;
}

.p-btn-archive__next {
    top: 50px;
    position: absolute;
    right: 20px;

}

// WP pagenavi--------------------
.wp-pagenavi {
    display: flex;
    justify-content: center;
    margin: 135px auto 60px;
    align-items: center;
    font-size: 16px;
    font-family: Roboto serif;
    @include mobile {
        display: none;
    }
}




.current {
    font-size: 16px;
    border: 1px solid #bfbfbf;
    padding: 1px 8px;
    margin: 10px;
}

// single & page----------------------------------------------------
// WP

.wp-block-cover__inner-container {
    padding-left: 5vw;
}

.p-title__single-top,
p.has-text-align-left .has-text-align-left  {
    margin-top: 93px;
    margin-left: 5vw;
    font-size: 3.6rem;
    @include tablet {
        font-size: 6rem;
        // margin-left: 10vw;
        margin-top: 200px;
    }
    @include pc {
        font-size: 6rem;
    }
}

.wp-block-cover__inner-container p.has-text-align-left  {
    display: inline-block;
    margin-top: 93px;
    margin-left: 5vw;
    font-size: 3.6rem;
    @include tablet {
        font-size: 6rem;
        margin-left: 10vw;
        margin-top: 0;
    }
    @include pc {
        font-size: 6rem;
    }
}





// .wp-block-cover__background
// .post-68 img.attachment-full 
.wrapper-single-content .attachment-full {
    // background-image: url(img/ham-burger-with-vegetables-1639557.png);
    // background-size: cover;
    height: 225px;
    // overflow: hidden;
    object-fit: cover;
    // object-position: 50% 50%;
    // background-position: center bottom;
    width: 100%;
    margin: 0;

    @include tablet {
        height: 500px;
        width: 100%;
    }
    @include pc {
        width: 100%;
    }
}


// .post-68 .wp-block-heading 
.p-single-visual__text{
    color: #FFFFFF;
    font-size: 6rem;
    margin-top: 36px;
    margin-left: 5vw;
    @include tablet {
        margin-top: 56px;
    }
}

// .post-68 h2.wp-block-heading,
// .post-188 h2.wp-block-heading
h2.wp-block-heading{
    color: #3C2A10;
    font-size: 2.8rem;
    font-weight: bold;
    margin-top: 34px;
    margin-left: 5vw;
    margin-bottom: 25px;
    @include tablet {
        margin: 55px auto 55px 5vw;
        font-size: 3.6rem;
    }
    @include pc {
        width: 70vw;
        font-size: 3.6rem;
        margin: 61px auto 61px 5vw;
    }
}

.p-text__single-article {
    color: #3c2a10;
    font-size: 1.6rem;
    margin: 0 5vw;
}







// .post-68 p,
// .post-188 p
.wrapper-single-content>p:first-of-type{
    color: #3c2a10;
    font-size: 1.6rem;
    margin: 0 5vw;
}
.post-208 p{
    color: #3c2a10;
    font-size: 1.6rem;
    margin: 40px 5vw;
}





.has-text-align-left strong{
    margin-top: 93px;
    margin-left: 5vw;
    @include tablet {
        font-size: 6rem;
        // margin-left: 10vw;
        margin-top: 200px;
    }
}

// .post-68 h3.wp-block-heading,
// .post-188 h3.wp-block-heading
h3.wp-block-heading{
    color: #3c2a10;
    font-size: 2.4rem;
    font-weight: bold;
    margin-top: 34px;
    margin-left: 5vw;
    margin-bottom: 25px;
    @include tablet {
        margin: 55px auto 55px 5vw;
        font-size: 2.8rem;
    }
    @include pc {
        width: 70vw;
        font-size: 2.8rem;
        
        margin: 61px auto 61px 5vw;
    }
}

.wp-block-quote {
    font-size: 16px;
    background-color: #f5f5f5;
    margin: 26px 20px 37px;
    padding: 30px 5vw;
    @include tablet {
        margin: 56px 5vw 56px;
        padding: 50px 50px 57px;
    }
    @include pc {
        margin: 56px 5vw 56px ;
        padding: 50px 50px 57px;
    }
    cite {
        display: block;
        text-decoration:  underline;
        color: #4A6C9B;
        letter-spacing: 0.2em;
        margin-top: 61px;
        }
    p {
        font-size: 1.6rem;
        margin: 0;
    }
}




// .wp-block-image  {
//     display: flex;
//     height: 124px;
//     @include tablet {
//         height: 264px;
//     }
//     @include pc {
//         width: 100%;
//         height: 500px;
//     }
// }

//WPメディア上の横広画像
// .post-68 figure.p-wp-image__media,
// .post-188 figure.p-wp-image__media
.wrapper-single-content>figure:first-of-type.wp-block-image.size-full {
    width: 100%;

    display: flex;
    height: 124px;
    object-position: 50% 90%;
    @include tablet {
        height: 264px;
    }
    @include pc {
        width: 100%;
        height: 500px;
    }
}


// img.wp-image-350

.wrapper-single-content>figure:first-of-type.wp-block-image.size-full>img {
    
    object-fit: cover;
    object-position: 50% 100%;
    margin: 0 5vw;
    width: 90vw;
    height: 100%;
    @include pc {
        height: 100%;
        width: 100%;
        margin: 0 5vw 0;
        max-width: 100%;
    }
}

//WP交互に並んだメディア

.wp-block-media-text {

    align-items: flex-start;
    margin: 30px 5vw 40px;
    gap: 10px;
    @include tablet {
        margin: 60px 5vw 110px;
        gap: 21px;
    }
    @include pc {
        gap: 40px;
    }
    p {
        display: flex;
        margin: 0;
    }
}

// .post-68 .wp-block-media-text,
// .post-188 .wp-block-media-text {
//     @include mobile {
//     grid-template-columns: 40% auto!important;
//     }
// }

// .wp-image-170,
// .wp-image-195 {
//     height: auto;
//     overflow: hidden;
//     flex-basis: 40%;
// }


.p-wrap__single-media {
    @include pc {
        margin: 60px 0 ;
    }
}

.wp-block-media-text.has-media-on-the-right {
    grid-template-columns: 1fr 40%;
}


.wp-block-media-text {
    gap: 40px;
    vertical-align: top;
}

.wp-block-media-text .wp-block-media-text__content {
    vertical-align: top;
    padding: 0;

}

//WPギャラリー上の画像


// .gallery-image,
// .wp-gallery-main-image .size-full {
//     height: 358px;
//     margin: auto;
//     margin-bottom: 231px;
//     object-fit: contain;
//     // max-width: 581px;
//     @include tablet {
//         margin: 0 auto 241px;
//     }
//     @include pc {
//         margin: 0 auto 60px ;
//     }
// }



// .wp-image-171,
// .wp-image-356 
.wrapper-single-content>figure.wp-block-image:nth-of-type(2){
    display: block;
    object-fit: cover;
    margin: 0 auto 30px;
    width: 70vw;
    max-width: 581px;
    @include tablet {
        margin-bottom: 231px;
        height: 358px;
        width: 581px;
    }
    @include pc {
        width: 35vw;
        margin: 0 auto 60px ;
    }
}

// WPギャラリーの画像------------------------------------


// .wrapper-single-content .wp-block-galley__single,
// .wp-block-gallery.wp-block-gallery-2
.wp-block-gallery.has-nested-images.columns-1.is-cropped.wp-block-gallery-1 {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        margin: 0 20px;
        @include tablet {
            grid-template-columns: 1fr 1fr;
            gap: 16px;
            margin: 0 60px;
        }
        @include pc {
            grid-template-columns: 1fr 1fr 1fr;
            gap: 20px;
            margin: 0 100px;
        }
    
    }
    

//WPリスト---------

// .p-list__single 
// .post-68 ul,
// .post-188 ul
.wrapper-single-content ul{
    font-size: 16px;
    color: #3C2A10;
    margin: 17px 6vw;
    // @include tablet {
    //     margin: 17px 6vw ;
    // }
    
}
.p-list-ol__single {
    padding-left: 3em;
    
}
.p-list-ul__single {
    padding-left: 1.5em;
}

ol {
    padding-left: 0;
}

.p-child-ol-list__single {
    margin: 20px 1.5em 20px;

}
.p-child-ul-list__single {
    margin: 20px 1em 20px;
}

.p-wrapper__list-upper {
    padding-bottom: 57px;
    margin-top: 10px;
    margin-bottom: 20px;
}

// .post-68 ul.wp-list1-single,
// .post-188 ul.wp-list1-single 
.wrapper-single-content>ul:first-of-type{
    @include tablet {
        margin: 61px 6vw;
    }
    
}
// .post-68 ul.wp-list2-single,
// .post-188 ul.wp-list2-single
.wrapper-single-content>ul:last-of-type{
    @include tablet {
        margin-top: 50px;
        margin-bottom: 61px;
    }
}


// ---------------------------------

// WPタグのリスト-------------------------------------------------------
// .p-container__tag-list-single
// .post-68 .tag-list,
// .post-188 .tag-list
.wrapper-single-content>ul:last-of-type{
    font-size: 16px;
    background-color: #f5f5f5;
    margin:30px 5vw 60px 5vw;
    padding: 60px 3vw ;
    overflow: hidden;
    @include pc {
        // width: 70%;
    }
}
// .p-child-list__tag
// .post-68 .tag-list br,
// .post-188 .tag-list br {
//     margin-left: 2.5em;
//     margin-bottom: 0;
// }

// WPテーブル------------------------------------------------------
//.p-container__single-table
.wp-block-table {
    font-size: 16px;
    margin: 5px 5vw 60px;
    // @include pc {
    //     width: 69vw;
    // }
}

//.p-table__single tr td:nth-child(2)
table tr td:nth-child(2) {
    width: 70%;
}

//.p-table__single
.has-text-align-left td{
    margin: auto;
    td {
        padding: 30px 30px;
        width: 30vw;
    }
}

// WPリスト下のボタン----------------------------------------------------------

.wp-block-buttons {
    
    margin: 30px 5vw ;
}


.wp-block-buttons>.wp-block-button.wp-block-button__width-50{
    @include mobile {
        width: 100%!important;
    }

}

//.p-button__single-under-main
.wp-block-button>a {
    cursor: pointer;
    border:1px solid #707070;
    display: block;
    // margin: 30px 5vw ;
    // width: 90%;
    max-width: 429px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    background: linear-gradient(to right, #F2EDE9,#DED8D3 );
    color: #3C2A10;  
    border-radius: 20px;
    @include pc {
        margin-bottom: 60px;
    }
    
}


// WPボタン下のテキスト-------------------------------------------------------
// .p-wrapper-text__single-under-btn 
.wrapper-single-content>p:last-of-type{
    display: block;
    margin:40px 5vw 80px;
    word-wrap: break-word;
    margin-bottom: 69px;
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    @include tablet {
        margin-bottom: 150px;
        margin-top: 61px;
    }
    @include pc {
        margin-bottom: 274px;
    }
}

//.p-text__single-under-btn
// .post-68 p {
//     font-size: 16px;
//     font-weight: 700;
//     font-style: normal;
    
// }

// .post-68 p.wp-archive-last-text,
// .post-188 p.wp-archive-last-text {
//     margin-bottom: 69px;
//     @include tablet {
//         margin-bottom: 150px;
//         margin-top: 61px;
//     }
//     @include pc {
//         margin-bottom: 274px;
//     }
// }












.p-img__single-top {
    background-image: url(img/ham-burger-with-vegetables-1639557.png);
    background-size: cover;
    height: 225px;
    overflow: hidden;
    background-position: center bottom;

    @include tablet {
        height: 500px;
    }
    @include pc {
        width: 100%;
    }
}

// page-top-img
.p-img__page-top {
    background-image: url(img/page-title_shop@2x.jpg);
    background-size: cover;
    height: 225px;
    overflow: hidden;
    @include tablet {
        height: 500px;
    }
    @include pc {
        width: 100%;
    }

}







.p-title__single-article {
    color: #3c2a10;
    font-size: 2.8rem;
    font-weight: bold;
    margin-top: 34px;
    margin-left: 5vw;
    margin-bottom: 25px;
    @include tablet {
        margin: 55px auto 55px 5vw;
    }
    @include pc {
        width: 70vw;
        font-size: 3.6rem;
        margin: 61px auto 61px 5vw;
    }

}

.p-text__single-article {
    color: #3c2a10;
    font-size: 1.6rem;
    margin: 0 5vw;

}






.p-title__single-heading-list {
    color: #3c2a10;
    font-size: 2.4rem;
    margin-top: 36px;
    margin-left: 5vw;
    @include tablet {
        margin: 62px auto 62px 5vw ;
    }
    @include pc {
        width: 70vw;
        margin: 62px auto 62px 5vw ;
        font-size: 2.6rem;
    }
}


.p-heading__single-heading-list {
    color: #3c2a10;
    font-size: 2rem;
    margin-top: 36px;
    margin-left: 5vw;
    @include tablet {
        margin-top: 56px;
    }
}
.p-heading-list {
    @include pc {
        // width: 80vw;
        margin: 0 5vw 0 0;

    }
}
.p-container__block-quote {
    background-color: #f5f5f5;
    margin: 26px 20px 37px;
    padding: 30px 5vw;
    @include tablet {
        margin: 56px 5vw 56px;
        padding: 50px 50px 57px;
    }
    @include pc {
        margin: 56px 5vw 56px ;
        padding: 50px 50px 57px;
    }
}
.p-text__single-block-quote {
    color: #3c2a10;
    font-size: 1.6rem;
    line-height: 2.4rem;
}



.p-block-quote__single {
    color: #3c2a10;
    font-size: 1.6rem;
    margin-top: 3px;
    word-break: break-all;
    @include tablet {
        margin-top: 60px;
        
    }
    a {
    text-decoration:  underline;
    color: #4A6C9B;
    letter-spacing: 0.2em;
    }
}


.p-wrapper__single-img-top {
    display: flex;
    height: 124px;
    @include tablet {
        height: 264px;
    }
    @include pc {
        width: 100%;
        height: 500px;
    }

}
.p-wrap__single-media {
    @include pc {
        margin: 60px 0 ;
    }
}

.p-img__single-media-under {
    display: block;
    object-fit: cover;
    margin: 0 auto 30px;
    width: 70vw;
    @include tablet {
        margin-bottom: 231px;
    }
    @include pc {
        width: 40%;
        margin: 0 auto 60px ;
    }
}







.p-img__single-media-top {
    object-fit: cover;
    object-position: 50% 100%;
    margin: 0 5vw;
    width: 90vw;
    @include pc {
        width: 100%;
        margin: 0 5vw 0;
    }
    
}

.p-media__single {
    display: flex;
    align-items: flex-start;
    margin: 30px 5vw 40px;
    gap: 10px;
    @include tablet {
        margin: 60px 5vw 40px;
        gap: 21px;
    }
    @include pc {
        gap: 40px;
    }
}

.p-img__single-media {
    height: auto;
    overflow: hidden;
    flex-basis: 40%;
}
.p-text__single-media {
    font-size: 16px;
    flex-basis: 60%;
}

.flex-reverse {
    flex-direction: row-reverse;
}


.p-img__single-gallery {
    object-fit: cover;
    margin: 0 5vw 20px;
    width: 90vw;
    @include tablet {
        margin: 0;
        
    }
}

.p-img-section__single {
    @include tablet {
        display: grid;
        width: 88vw;
        margin: 0 5vw;
        gap: 1.5vw;
        grid-template-columns: 44vw 44vw;
    }
    @include pc {
        width: 70vw;
        grid-template-columns: 22vw 22vw 22vw;
        margin: 0 auto 0;
    }  
}



// ネストされたリスト-------------------------------------------------------


.p-list__single {
    font-size: 16px;
    color: #3C2A10;
    @include tablet {
        margin: 63px 6vw ;
    }
    @include pc {
        width: 60vw;
    }
}
.p-list-ol__single {
    padding-left: 3em;
    
}
.p-list-ul__single {
    padding-left: 1.5em;
}

ol {
    padding-left: 0;
}

.p-child-ol-list__single {
    margin: 20px 1.5em 20px;

}
.p-child-ul-list__single {
    margin: 20px 1em 20px;
}

.p-wrapper__list-upper {
    padding-bottom: 57px;
    margin-top: 10px;
    margin-bottom: 20px;
}




// タグのリスト-------------------------------------------------------
.p-container__tag-list-single {
    font-size: 16px;
    background-color: #f5f5f5;
    margin:30px 5vw 60px 5vw;
    padding: 60px 3vw ;
    overflow: hidden;
    @include pc {
        width: 70vw;
    }
}
.p-child-list__tag {
    margin-left: 2.5em;
    margin-bottom: 0;
}
// テーブル------------------------------------------------------
.p-container__single-table {
    width: 90vw;
    font-size: 16px;
    margin: 5px 5vw 60px;
    @include pc {
        width: 70vw;
    }
}

.p-table__single {
    margin: auto;
    td {
        padding: 30px 30px;
        width: 30vw;
    }
}
.p-table__single tr td:nth-child(2) {
    width: 60vw;
}


// ----------------------------------------------------------

.p-button__single-under-main {
    display: block;
    margin: 30px 5vw ;
    width: 90%;
    max-width: 429px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    background: linear-gradient(to right, #F2EDE9,#DED8D3 );
    color: #3C2A10;  
    border-radius: 20px;
    @include pc {
        margin-bottom: 60px;
    }

}
// -------------------------------------------------------
.p-wrapper-text__single-under-btn {
    display: block;
    margin:40px 5vw 80px;
    word-wrap: break-word;
    @include pc {
        width: 70vw;
    }
}

.p-text__single-under-btn {
    
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    @include tablet {
        margin-bottom: 150px;
    }
    @include pc {
        margin-bottom: 274px;
    }
}



