

@use "../../foundation/mixin" as *;


// nav {
//     justify-self: end;
// }




.p-menu__bg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    
    
    background-color:rgba($color: #000000, $alpha: 50%) ;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    
    &.overlay {
        visibility: visible;
        transition: 0.5s;
        opacity: 1;
        position: fixed;
        z-index: 2;
    }
    @include pc {
        display: none;
    }
}





    .l-nav{
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    margin-left: 50px;
    margin-right: 0;
    position: fixed;
    background-color: #f2ede9;
    height: 100%;
    transition: 0.4s;
    transition-delay: 0.4s;
    z-index: 10;
    @include tablet {
        max-width: 367px;
    }
    @include pc {
        min-width: 367px;
        width: calc(20vw - calc(20vw - 100%));
        transition: none;
        transition-delay: 0ms;
        position: initial;
        height: 100%;
        overflow: initial;
        margin-left: 0;
    }    
}

    .l-nav.open-menu {
    width: 328px;

    overflow: scroll;
    @include tablet {
        width: 367px;
        height: 100%;
    }
}





.c-btn_menu-close {
    display: block;
    position: relative;
    width: 36px;
    height: 36px;

    margin-top: 55px;

    margin-right: 11px;
    margin-left: auto;
    &::before {
        content: '';
        position: absolute;
        top: 50%;
        right: 50%;
        width: 5px;
        height: 30px;
        background: #707070;
        transform: translate(-50%,-50%)rotate(45deg);
    }
    &::after {
        content: '';
        position: absolute;
        top: 50%;
        right: 50%;
        width: 5px;
        height: 30px;
        background: #707070;
        transform: translate(-50%,-50%)rotate(-45deg);
    } 
    @include pc {
        display: none;
    }

}

// .p-menu {
    
//     font-size: 2rem;
//     line-height: 2.97rem;

// }

// .menu-item a {
//     font-size: 2.4rem;
//     margin-left: 4.6rem;
//     margin-bottom: 4rem;
//     margin-top: 5rem;

// }

.c-title-menu {
    font-size: 2.4rem;
    color: #707070;
    
    margin-left: 4.6rem;
    margin-bottom: 4rem;
    margin-top: 5rem;
    &__burger {
        margin-top: 17.8rem;
        @include pc {
            margin-top: 90px;
        }
    }

}
.p-title__pc-menu {
    display: none;
    @include pc {
        display: block;    
        margin-top: 9rem;
        font-size: 3.4rem;
    }
}



// .p-menu-list__aside {
//     font-size: 2rem;
//     line-height: 2.97rem;
//     color: #707070;
//     margin-bottom: 2rem;
//     margin-left: 6.6rem;
// }

// .menu-mainmenu-container 
.p-aside-container ul{
    font-size: 2.4rem;
    line-height: 5rem;
    color: #707070;
    margin-bottom: 2rem;
    margin-left: 5rem;
    margin-top: 30px;
}


.sub-menu {
    margin-left: 3rem;
    font-size: 2rem;
}